@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --bg-color: whitesmoke;
  --text-color: #121212;
  --border-color: 7px solid #121212;
  --letter-spacing-animation: 1em;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: whitesmoke;
  --border-color: 7px solid whitesmoke;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  position: relative;
  overflow-x: hidden;
  transition: background-color 0.75s ease, color 0.75s ease;
}

/* NavBar */

/* Top Nav */
#top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.7rem;
  background: var(--bg-color);
  height: 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  /* position: absolute; */
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2.3rem;
  height: 2rem;
  cursor: pointer;

  z-index: 10;
}

.menu-button span {
  background: var(--text-color);
  border-radius: 10px;
  height: 0.3rem;
  transition: 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.menu-button span:nth-of-type(1) {
  width: 40%;
}

.menu-button span:nth-of-type(2) {
  width: 100%;
}

.menu-button span:nth-of-type(3) {
  width: 65%;
}

/* Properly aligned X formation */
.menu-button.active span:nth-of-type(1) {
  height: 0.25rem;

  width: 40%;
  transform-origin: bottom;
  transform: rotatez(45deg) translate(4px, 1px);
}

.menu-button.active span:nth-of-type(2) {
  height: 0.25rem;

  width: 80%;

  transform-origin: top;
  transform: rotatez(-45deg);
}

.menu-button.active span:nth-of-type(3) {
  height: 0.25rem;

  transform-origin: bottom;
  width: 40%;
  transform: translate(13px, -7px) rotatez(45deg);
}

/* Left Nav */
#nav {
  height: 100%;
  width: 15%;
  position: fixed;
  top: 2.8rem;
  left: 0;
  z-index: 99;
}

#nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  position: relative;
}

#nav.active ul {
  transform: translatex(0);
}

#nav ul li {
  list-style: none;
  margin: 1rem 0;
}

#nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 500;
}

/* THEME Switcher */

.theme-switcher {
  /* right: 12px; */
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  z-index: 10;
}

.size {
  font-size: 25px;
  cursor: pointer;
}

/* Header */

.header,
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header h2 {
  font-family: "Outfit", sans-serif;
  font-size: clamp(50px, 9vw, 70px);
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.02em;
  transition: letter-spacing 2s ease;
  animation-name: focus-in-contract;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.social-icons {
  font-size: 40px;
  position: relative;
  top: -20px;
  text-align: center;
  animation: focus-in-contract 3s linear;
}

.social-icons i {
  margin: 0 4px;
  transition: all ease 0.2s;
}

.social-icons i:hover {
  cursor: pointer;
  transform: scale(1.09);
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: var(--letter-spacing-animation);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    letter-spacing: 0;
    filter: blur(0);
    opacity: 1;
  }
}

/* Section */

section {
  align-items: center;
}

/* Section-1 */

.fas:hover {
  transform: scale(1.1);
}

/* Section 2 */

#section-2 img {
  width: 70%;
  max-width: 800px;
  border: var(--border-color);
  padding: 0.8rem;
  position: relative;
}

#section-3 img {
  width: 20rem;
  padding: 0.6rem;
  border: var(--border-color);
}

#section-3 img:not(:nth-child(3)) {
  margin-right: 2rem;
}

.section-3-gallery {
  display: flex;
  width: 100%;
}

/* Section 4 */

#section-4 .paragraph {
  width: 50ch;
  margin-bottom: 50px;
}

section h1 {
  font-size: 40px;
}

/* Section 5 */

#section-5 {
  position: relative;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  top: -5rem;
  transition: all 0.5s ease;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px; /* adjust spacing between text and underline */
  width: 100%;
  height: 3px; /* your desired underline thickness */
  background-color: var(--text-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}
a:hover::after {
  transform: scaleX(1);
}

/* Wave */
.wave {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.wave > svg {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: -1px;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 5px;

  font-size: 14px;
  width: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* Media Queries --------------------------- */

/* All Mobile devices */

@media screen and (max-width: 1180px) {
  :root {
    --letter-spacing-animation: 0.1em;
  }

  #nav {
    width: 100%;
  }
  #nav ul {
    background-color: var(--bg-color);
    top: 0;
    margin: 0;
  }

  .footer {
    bottom: -10px;
  }

  .wave > svg:last-child {
    border-bottom: none;
    margin-bottom: -1px;
  }

  .wave::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #03045e;
    z-index: 0;
  }
}

/* Tablette Horizontal */

/* Tablette Vertical */
@media screen and (min-width: 700px) and (max-width: 950px) {
  .section-3-img {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  #section-3 img {
    width: 60%;
    margin: 0 !important;
  }
}


/* SmartPhone Horizontal  */

@media screen and (min-width: 600px) and (max-width: 950px) and (max-height: 500px) {
  #nav ul {
    padding-top: 2rem;
  }
  #nav ul li {
    margin: 1rem 0;
  }
  #nav ul li a {
    font-size: 1.25rem;
  }


  section:not(:nth-child(1)) {
    margin-top: 5rem;
  }
  .section-3-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #section-3 img {
    width: 40%;
    margin: 0 !important;
  }

}


@media screen and (max-width: 600px) {
  section {
    text-align: center;
  }
  #nav ul li {
    position: relative;
    left: -1.1rem;
  }

  #section-1 h2 {
    position: relative;
    font-size: 2.7rem;
  }
}